body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;

  }

  .button {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  .button.operator {
    background-color: #f0ad4e;
    color: #fff;
  }

  .button.special {
    background-color: #5bc0de;
    color: #fff;
  }

  .button.clear {
    background-color: #d9534f;
    color: #fff;
  }

  .result {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    background-color: #f8f9fa;
  }